pandas
numpy
jupyter
jedi
seaborn
matplotlib
google-services-api
selenium
beautifulsoup4
nltk
mpld3
spacy
openpyxl
sklearn
gensim
tqdm
streamlit==0.85.1
watchdog
google
google-cloud-bigquery
pyLDAvis
wordcloud